<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inicio</title>
</head>
<body>
<header th:replace="~{layout/plantilla :: header}"></header>
<a th:href="@{/agregar}">Crear Persona</a>
<div th:if="${personas != null and !personas.empty}">
    <table border="1">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        <tr th:each="persona : ${personas}">
            <td th:text="${persona.nombre}"></td>
            <td th:text="${persona.apellido}"></td>
            <td th:text="${persona.email}"></td>
            <td th:text="${persona.telefono}"></td>
            <td><a th:href="@{/editar/} + ${persona.idPersona}">Editar</a></td>
            <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}">Eliminar</a></td>
        </tr>
    </table>
</div>
<div th:if="${personas == null or personas.isEmpty()}">
    La lista de personas esta vacia
</div>

<footer th:replace="~{layout/plantilla :: footer}"></footer>
</body>
</html>