<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Plantilla</title>
    </head>
    <body>
        <header th:fragment="header">
            <h1>Control de Clientes</h1>
        </header>

        <footer th:fragment="footer">
            <p>Derechos reservados</p>
            <a href="/" target="_blank">Inicio</a>
        </footer>

    </body>
</html>