<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Agregar Cliente</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="agregarCliente">
            <div id="agregarCliente" class="modal fade" tabindex="-1" aria-labelledby="agregarClienteLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header bg-info text-white">
                            <h5 class="modal-title" id="agregarClienteLabel" th:text="#{accion.agregar}">Agregar
                                Cliente
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form th:action="@{/guardar}" th:object="${persona}"
                              method="POST" class="was-validated">
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="nombre" class="form-label" th:text="#{persona.nombre}">Nombre</label>
                                    <input type="text" class="form-control" name="nombre" required="true" id="nombre"/>
                                    <div class="invalid-feedback">
                                        [[#{requerido.nombre}]]
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="apellido" class="form-label" th:text="#{persona.apellido}">Apellido
                                    </label>
                                    <input type="text" class="form-control" name="apellido" required="true" id="apellido"/>
                                    <div class="invalid-feedback">
                                        [[#{requerido.apellido}]]
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label" th:text="#{persona.email}">Email</label>
                                    <input type="email" class="form-control" name="email" required="true" id="email"/>
                                    <div class="invalid-feedback">
                                        [[#{requerido.email}]]
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="telefono" class="form-label" th:text="#{persona.telefono}">Teléfono
                                    </label>
                                    <input type="tel" class="form-control" name="telefono" id="telefono"/>
                                </div>
                                <div class="mb-3">
                                    <label for="saldo" class="form-label" th:text="#{persona.saldo}">Saldo</label>
                                    <input type="number" class="form-control" name="saldo" required="true" step="any" id="saldo"/>
                                    <div class="invalid-feedback">
                                        [[#{requerido.saldo}]]
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit" class="btn btn-primary" th:text="#{accion.guardar}">Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
